{
    "properties":{
        "libDir":"/opt/3pp/clamshellcli/lib",
        "pluginsDir":"/opt/hbase-cli/lib"
    },
    "controllers":{
        "com.hbase.cli.controller.HBaseCLIController":{
	            "enabled":"true",
	            "inputPattern":"\\s*(help|exit|scan|list|describe|delete|showfilter)\\b.*",
	            "expectedInputs":[]
        }
    }
}
